.nemu {
  color: white;
  background: black;
  user-select: none;
}

.nemu-canvas {
  background: black;
  outline: 0;
  width: 100%;
  height: 100%;
}

.nemu-control-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background: black;
}

.nemu-control-button {
  color: white;
  background: black;
}

.nemu-settings-button {
  background: black;
}

.nemu-settings-button {
  position: relative;
}

.nemu-settings-group {
  display: none;

  background: black;
  position: absolute;
}

.nemu-settings-button:hover .nemu-settings-group {
  display: block;
}

.nemu-setting-with-label {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}
